# -*- coding: utf-8 -*-
# MyJD
# Project by https://github.com/rix1337

# Python
*.pyc
*.bak
__pycache__

# Build Tools
build
dist
venv
*.egg-info

# Visual Studio
.vscode/

# PyCharm
.idea

# MyJD API files
*.conf
*.ini